*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Manrope;
    src: url(/fonts/Manrope-VariableFont_wght.ttf);
}
@font-face {
    font-family: Monserrat;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}


body{
  font-family: Manrope;  
  width: 100%;

}


/*************************************************header*********************************/

/*************************************************fin header*********************************/





/*************************************************main***************************************/

.loginForm{
    width: 30%;
    height: 70vh;
    border: 1px solid black;
    
   

}


form input{

 
}

#first{

}
#second{
  
}

img{
    width: 5%;
}






/*************************************************fin main*********************************/





/*************************************************footer*************************************/

/*************************************************fin Footer*********************************/
